<div class="home-container">

  <section class="hero-section">
    <div class="hero-content">
      <h1>Únete al Mejor Club Deportivo</h1>

      <button (click)="redirectToRegister()" class="btn-primary" aria-label="Ir al registro">Regístrate Hoy</button>
    </div>
  </section>

  <section class="welcome-section">
    <div class="container">
      <h2>¿Quiénes Somos?</h2>
      <div class="welcome-info">
        <p>En el Club Deportivo ofrecemos una experiencia única para todos los amantes del deporte. Contamos con instalaciones de primera calidad y una comunidad activa. Ven y forma parte de nuestra familia deportiva.</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIS6rQJd3yK68uFdUQxb6hkihx8a3GTLy_bA&s" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIS6rQJd3yK68uFdUQxb6hkihx8a3GTLy_bA&s 600w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIS6rQJd3yK68uFdUQxb6hkihx8a3GTLy_bA&s 300w" sizes="(max-width: 600px) 100vw, 600px">
      </div>
   </div>
  </section>

  <section class="features-section">
    <div class="container">
      <h2>Nuestras Actividades Destacadas</h2>
      <div class="features-container">
        <div class="feature-card">
          <img src="https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Fútbol" class="feature-img" srcset="https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&w=600 600w, https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&w=600 300w" sizes="(max-width: 600px) 100vw, 600px">
          <h3>Fútbol</h3>
          <p>Partidos, ligas y entrenamientos de fútbol profesional.</p>
        </div>
        <div class="feature-card">
          <img src="https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Gimnasio" class="feature-img" srcset="https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?auto=compress&cs=tinysrgb&w=600 600w, https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?auto=compress&cs=tinysrgb&w=600 300w" sizes="(max-width: 600px) 100vw, 600px">
          <h3>Gimnasio</h3>
          <p>Entrenamientos personalizados y equipos de última generación.</p>
        </div>
        <div class="feature-card">
          <img src="https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Eventos" class="feature-img" srcset="https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&w=600 600w, https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?auto=compress&cs=tinysrgb&w=600 300w" sizes="(max-width: 600px) 100vw, 600px">
          <h3>Eventos</h3>
          <p>Disfruta de competiciones y eventos sociales durante todo el año.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="cta-section">
    <div class="container">
      <h2>Prepárate para dar el siguiente paso</h2>
      <p>Es hora de unirte a nuestra comunidad. ¡No te pierdas la oportunidad de mejorar tu rendimiento deportivo!</p>
      <button (click)="redirectToRegister()" class="btn-primary" aria-label="Ir al registro">Regístrate Hoy</button>
    </div>
  </section>

  <section class="testimonials-section">
    <div class="container">
      <h2>Testimonios</h2>
      <div class="testimonial-cards">
        <div class="testimonial-card">
          <p>"El mejor club deportivo en el que he estado. Las instalaciones son increíbles y el ambiente es único."</p>
          <h3>Juan Pérez</h3>
          <p>Miembro desde 2022</p>
        </div>
        <div class="testimonial-card">
          <p>"Una experiencia excepcional. Mis hijos adoran las actividades y yo me mantengo en forma gracias al gimnasio."</p>
          <h3>María López</h3>
          <p>Miembro desde 2020</p>
        </div>
      </div>
    </div>
  </section>

  <section class="blog-section">
    <div class="container">
      <h2>Últimas Noticias</h2>
      <div class="blog-cards">
        <div class="blog-card">
          <img src="https://images.pexels.com/photos/47730/the-ball-stadion-football-the-pitch-47730.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Campeonato de Fútbol" class="blog-img" srcset="https://images.pexels.com/photos/47730/the-ball-stadion-football-the-pitch-47730.jpeg?auto=compress&cs=tinysrgb&w=600 600w, https://images.pexels.com/photos/47730/the-ball-stadion-football-the-pitch-47730.jpeg?auto=compress&cs=tinysrgb&w=600 300w" sizes="(max-width: 600px) 100vw, 600px">
          <h3>Campeonato Anual de Fútbol</h3>
          <p>Descubre todos los detalles del campeonato de fútbol que se celebrará este mes.</p>
          <a href="#">Leer más</a>
        </div>
        <div class="blog-card">
          <img src="https://images.pexels.com/photos/949131/pexels-photo-949131.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Nuevo Gimnasio" class="blog-img" srcset="https://images.pexels.com/photos/949131/pexels-photo-949131.jpeg?auto=compress&cs=tinysrgb&w=600 600w, https://images.pexels.com/photos/949131/pexels-photo-949131.jpeg?auto=compress&cs=tinysrgb&w=600 300w" sizes="(max-width: 600px) 100vw, 600px">
          <h3>Nuevo Gimnasio Abierto</h3>
          <p>¡Inauguramos un nuevo gimnasio con equipos de última generación!</p>
          <a href="#">Leer más</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p>&copy; 2024 Club Deportivo. Todos los derechos reservados.</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/canoboficial/?locale=es_LA" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/newells/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/Newells" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/@newellsinfo74" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      </div>
    </div>
  </footer>

</div>
